@import "variables";
@import "./src/styles/bootstrap/scss/bootstrap";

@mixin circle ($color) {
	width: 200px;
	height: 200px;
	background: $color;
	border-radius: 50%;
	
}

@mixin border-bottom($size, $color) {
	border-bottom: $size solid $color;
}

* {
	box-sizing: border-box;
}

body,
html {
	background: $body-background;
	color: darken($brand-primary, 20%);
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: $primary-font-size;
	background-clip: border-box;
}

p {
	font-size: $secondary-font-size;
}

section.#{$section-content-class} {
	h2 {
		@include border-bottom(2px, $indigo);
	}
	p {
		@if $section-content-class==section-content {
			font-size: 12pt;
			color: $patricks-green;
		} @else {
			font-size: $secondary-font-size+6pt;
			text-decoration: underline;
		}
		span {
			font-style: italic;
			color: red;
		}
	}
	
	
}

div.#{$div-circle-class}{
	@include circle($danger)
}


