@import "./src/styles/bootstrap/scss/bootstrap";
$body-background: white;
$brand-primary: #999;
$primary-font-size: 14pt;
$secondary-font-size: calc($primary-font-size / 2.5pt);
$section-content-class: "section-content";
$div-circle-class: "div-circle";
